<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{SITE_NAME}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="">
<meta name="copyright" content="{$SEO['keyword']}">
<meta http-equiv="Cache-Control" content="no-transform">


<link href="{TPL_STATIC_PATH}mainCss.css" rel="stylesheet" type="text/css">
<link href="{TPL_STATIC_PATH}index.css" rel="stylesheet" type="text/css">
<div class="webHead">
	<div class="head middle_new">
		<a hidefocus="true" class="headLogo" href="#" title="色情网站建设专家">
			<span class="f-img">色情网站建设</span>
		</a>
		{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
		<div class="webNav">
			<div class="nav {if $top_parentid==0}navCheck{/if} nav-first">
				<a hidefocus="true" href="{APP_PATH}" title="{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}">首页</a>
			</div>
			{loop $data $r}
			<div class="nav {if $catid==$r[catid] || $top_parentid==$r[catid]}navCheck{/if} ">
				<a hidefocus="true" href="{$r[url]}">{$r[catname]}</a>
			</div>
			{/loop}
		 {/pc}
		</div>
		<div class="headRight">
			<div class="register">
				<a hidefocus="true" class="reg fk-freeRegBtn" href="/index.php?m=member&c=index&a=register">免费注册</a>
			</div>
			<a hidefocus="true" class="login fk-loginBtn" href="/index.php?m=member&c=index&a=login">登录</a>
		</div>
	</div>
</div>

