{template "content","header"}

<link href="http://jz.faisys.com/css/joinBrand.min.css" rel="stylesheet" type="text/css">
<div id="jzAllianceBox">
	<div class="webAgency web_alliance" id="webAgency">
		<div class="webAgency_container webAgency_1" >
		   <div class="bigBanner webAgency_ban1" >
            	<div class="btnContainer">
            		<div class="banHeadLine">加入小白兔，抢占互联网创业先机</div>
            		<div class="banSubHeadLine">代理平均每天500+元的收入</div>
            		<a href="/index.php?m=member&c=index&a=register"><span class="joinBtn">立即加入</span></a>
            		<div class="banIcon"></div>
            	</div>
            </div>
		</div>
		<div class="webAgency_container webAgency_2">
			<div class="webAgency_box">
				<div class="headline">我们是谁</div>
				<div class="content">
					<div>小白兔是一家专注色清行业的建站公司</div>
					<div>于2015年10月创立于菲律宾马尼拉，拥有雄厚的技术基础，超强的网络机房</div>
					<div class="faisco_product"></div>
				</div>
			</div>
		</div>
		
		<div class="webAgency_container webAgency_3">
			<div class="webAgency_box">
				<div class="headline">为什么选我们</div>
				<div class="content">
					<div class="fkInfoBox brandBox">
						<div class="headColor"></div>
						<div class="fk_icon"></div>
						<div class="boxHeadline">安全无忧</div>
						<div class="boxContent">
							无需提供真实信息，只顾提款<br>给代理提供专业的网络安全知识，防止被跟踪<br>菲律宾十佳互联网创新企业<br>海外机构，无需负责<br>
						</div>
					</div>
					<div class="fkInfoBox productBox">
						<div class="headColor"></div>
						<div class="fk_icon"></div>
						<div class="boxHeadline">产品优势</div>
						<div class="boxContent">
							一键自助建站<br>网站模板丰富，设计精美<br>荣获各类奖项，极具市场竞争力<br>无需技术，简单培训即可开展业务，月入上万<br>
						</div>
					</div>
					<div class="fkInfoBox serveBox">
						<div class="headColor"></div>
						<div class="fk_icon"></div>
						<div class="boxHeadline">服务优势</div>
						<div class="boxContent">
							强大自助建站技术后盾支持<br>专业产品培训，免费提供教程课件<br>全方位一站式业务扶持，后顾无忧<br>7*24小时，全年365天不间断优质服务<br>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<div class="webAgency_container webAgency_4">
			<div class="webAgency_box">
				<div class="headline">加盟小白兔，你能获得什么？</div>
				<div class="content">
					<div class="fkIncomeBox baseBox">
						<div class="fk_icon"></div>
						<div class="boxHeadline">每日500+的收入</div>
						<div class="boxContent">
							可以收取会员注册成高级会员带来的利润<br>
							流量做大之后，小白兔为代理提供广告商广告，可获取广告的利润<br>
						</div>
					</div>
					<div class="fkIncomeBox reneweBox">
						<div class="fk_icon"></div>
						<div class="boxHeadline">产品续费/升级收入</div>
						<div class="boxContent">
							产品每年续费收入+产品版本升级收入<br>
							让您每年坐收稳定高收益<br>
						</div>
					</div>
					<div class="fkIncomeBox otherBox">
						<div class="fk_icon"></div>
						<div class="boxHeadline">其他服务收入</div>
						<div class="boxContent">
							提供定制服务、企业营销等更多增值服务<br>
							为企业打造完整互联网营销闭环<br>
						</div>
					</div>
					
				</div>	
			</div>
		</div>
		
		<div class="webAgency_container webAgency_5">
			<div class="webAgency_box">
				<div class="headline">如何创建网站？</div>
				<div class="subHeadLine">创建网站只需4步</div>
				<div class="content">
					<div class="applyFK applyBox">
						<div class="iconApply"></div>申请账户
					</div>
					<div class="iconArrow"></div>
					<div class="applyFK discussBox">
						<div class="iconApply"></div>填写资料
					</div>
					<div class="iconArrow"></div>
					<div class="applyFK contractBox">
						<div class="iconApply"></div>创建网站
					</div>
					<div class="iconArrow"></div>
					<div class="applyFK teamworkBox">
						<div class="iconApply"></div>发布网站
					</div>
				</div>
			</div>
		</div>
		
		<div class="webAgency_container webAgency_6">
			<div class="webAgency_box">
				<form>
					<div class="formJoin">
						<div class="title">申请加盟凡科</div>
					
				        <div class='formLine'>
							<div class='formLeft'>姓名：</div>
							<input type='text' id='name' autocomplete='new-password' name="name" maxlength='20'/>
							<div class='clear'></div>
						</div>
						<div class='showMsg name_msg'></div>
						<div class='formLine'>
							<div class='formLeft'>手机：</div>
							<input type='text' id='mobile' autocomplete='new-password' name="mobile" maxlength='11'/>
							<div class='clear'></div>
						</div>
						<div class='showMsg mobile_msg'></div>
						<div class='formLine'>
							<div class='formLeft'>QQ：</div>
							<input type='text' id='qq' autocomplete='new-password' name="qq" maxlength='20' placeholder="（选填）" autocomplete="off" onfocus="this.placeholder=''" onblur="this.placeholder='（选填）'"/>
							<div class='clear'></div>
						</div>
						<div class='showMsg qq_msg'></div>
		
						<div class="formBoxValidateCode">
							<div class='formLine formLineValidateCode'>
								<div class='formLeft'>验证码：</div>
									<input type="text" class="formTxt formInput" id="validateCode" name="validateCode" placeholder="请输入验证码" autocomplete="off" maxlength="4" onfocus="this.placeholder=''" onblur="this.placeholder='请输入验证码'"/>
							</div>
							<img id="validateCodeImg" onClick="changeValidateImg()" title="看不清？换一张" src="/validateCode.jsp?774&validateCodeRegType=3" alt="免费网站注册"/>
							<div class="clear"></div>
						</div>
						<div class="showMsg validateCode_msg"></div>
						
						<div class="submit" id="submit" onclick="formSubmit();">提交</div>
						<div class="showMsg form_rtMsg" style="height: 20px;"></div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{template "content","footer"}