<link rel="stylesheet" type="text/css" href="http://www.master.com/statics/master_files/mainCss.css">
<link rel="stylesheet" type="text/css" href="http://www.master.com/statics/master_files/index.css">

<section class="panel">
    <div class="panel-body">
    <div id="c" class="webCase">
    <div class="fk-slider" id="webTplSlider">
        <div class="f-slider-wrap J_wrap">
            <div class="f-slider-item one J_item">
                <!-- PC content-->
                <div id="PCContent" class="casePC caseItem show">
                    <div class="caseContent">
                        <div class="caseConMiddle">
                            <div class="caseConList fk-pcCaseList" id="pcCaseList">
                                <div class="caseForm">
									<div class="fk-casePc-formWrap fk-casePc-formWrapHover">
									<div class="f-casePc-form"><div class="f-winBg"></div>
									<div class="f-win"><img src="http://d1.faiusr.com/2/AAEIABACGAAgn4eCzgUowPOh2QMwhgQ43wg.jpg" class="f-win-img"></div>
									<div class="f-winMask"><a href="http://www.esenbol.com" target="_blank" title="" class="f-link-preview" rel="nofollow">
									<div class="f-link-previewBg">
									</div>
									<div class="f-icon-preview"></div></a>
									</div>
									</div>
									</div>
									<div class="caseText">
									<h3 class="caseText-title ellipsis">
									<a hidefocus="true" class="caseCompanyName" title="果然新鲜" href="http://www.esenbol.com" target="_blank" rel="nofollow">果然新鲜</a>
									</h3>
									<p class="caseText-desc">所属行业：食品、茶饮、养生保健</p>
									</div>
								</div>
							</div>
                            <div class="clear"></div>
                        </div>
                        <div class="caseConBottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</section>
<div id="paginationFormat">
	<div class="row">
			{$member_pages}
	</div>
</div>
