<section class="panel">
    <div class="panel-body">
      <div class="table_content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="8%">站点ID</th>
				<th width="10%">站点名称</th>
				<th width="8%">站点地址</th>
				<th width="15%">创建时间</th>
				<th width="15%">状态</th>
				<th width="30%">操作</th>
            </tr>
            </thead>
            <tbody>
             {loop $infos $info} 
                    <tr>
                        <tr>
                           <td width="8%">{$info['id']}</td>
							<td  width="10%" align="center">{$info['site_name']}</td>
							<td width="8%" align="center"><a href="{$info['url']}">{$info['url']}</td>
							<td width="15%" align="center">{date('Y-m-d H:i:s',$info['ctime'])} </td>
							<td width="15%" align="center">正常</td>
							<td width="30%" align="center"><a href="{$info['url']}/admin.php">[访问后台]</a><a href="#">[更改域名]</a><a href="#" onclick="editDomain({$info['id']})">[更改网站名称]</a></td>
                        </tr>
                    </tr>
                {/loop}
            </tbody>
        </table>
    </div>
  </div>
</section>
<div id="paginationFormat">
	<div class="row">
			{$member_pages}
	</div>
</div>
