<html>
<head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{SITE_NAME}-登录</title>
    <link href="{TPL_STATIC_PATH}member_css/style.css" rel="stylesheet">
    <link href="{TPL_STATIC_PATH}member_css/style-responsive.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <style>
       #captcha {
            width: 300px;
            display: inline-block;
        }
        #wait {
            text-align: left;
            color: #666;
            margin: 0;
        }
    </style>
</head>
<body class="login-body">
<?php pc_base::load_sys_class('form', '', 0);?>
<div class="container">
    <form method="post" class="form-signin" >
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">登录</h1>
            <img src="{{ logo }}" alt="">
        </div>

        <div class="login-wrap">
            <div>
            <input class="form-control" placeholder="请输入用户名" name="name" id="user" autofocus="" type="text">
            </div>
            <div>
            <input class="form-control" placeholder="请输入密码" name="password" id="password" type="password" autocomplete="new-password">
            </div>
            <div>
            <input class="form-control" id="captcha" placeholder="验证码" type="text" style="width:160px;float:left;"  name="captcha" >
			{form::checkcode('code_img', '5', '14', 120, 26)}
            </div>
            <input type="hidden" name="{{ tokenKey|default('--') }}" value="{{ token|default('--') }}" />
            <button class="btn btn-lg btn-login btn-block" type="button" id="embed-submit"  >
                登录
            </button>
            <div id="msgbox" style="display:none;"></div>

        </div>
    </form>
    <br>
    <div style="max-width: 330px;margin: 0 auto;">
 <!--     <a href="/promoters/login/findPassword" style="color: white; font-size: 16px;text-decoration:underline;" target="_blank">找回登录密码</a>&nbsp;&nbsp;&nbsp;-->
    没有账号？去  <a href="/index.php?m=member&c=index&a=register" style="color: white; font-size: 16px;text-decoration:underline;" target="_blank">注册</a>
  </div>
</div>
<script>
$('#embed-submit').click(function () {
    var captcha  = $('#captcha').val();
    var username = $('#user').val();
    var password = $('#password').val();
    if(username.length < 1 || password.length < 1 || captcha.length < 4){
       $("#msgbox").html('<div class="alert alert-danger">填写帐号和密码!</div>').show('fast');
    }
    $.ajax({
         url: '/index.php?m=member&c=index&a=master_login',
         type: 'POST',
         dataType: 'json',
         data: {
			dosubmit: 1,
            username: username,
            password: password,
            code: captcha
         },
         success: function (data) {
            if (data.status == '0') {
                        //alert('登录成功');
               location.href="/index.php?m=member";
            } else if (data.status == '1') {
                        //alert('登录失败，请完成验证');
                $("#msgbox").html('<div class="alert alert-danger">'+data.msg+'</div>').show('fast');

            }
         }
     });
  })
function refreshCode(o)
{
     var t = Date.parse(new Date());
     $(o).attr('src','/promoters/captcha/imgcode?t='+t);
}
</script>
</body>
</html>
